@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Caveat:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Fjalla+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Oswald:wght@200;300;400;500;600;700&family=Poor+Story&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Tektur:wght@400;500;600;700;800;900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.nav-container {
  width: 100%;
  height: 60px;
  /* background-color: #777; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* position: fixed;
  top: 0;
  z-index: 2; */
}

.news-feed a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
}

.nav-title {
  font-size: 32px;
  font-weight: bolder;
}

.geminiBtn a {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #5082ee 0%,
    #a66fba 50%,
    #d66675 100%
  );
  background-clip: text;
  color: transparent;
  border: 1px solid black;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
}

.main-container {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.searchBar-container {
  border: 1px solid black;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-container {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: .5rem;
}

.google-feed {
  width: 50%;
  border: 1px solid green;
}

.wiki-feed {
  width: 50%;
  border: 1px solid red;
}

